.serch {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 120px;
  width: 32px;
  height: 32px;
  border-radius: var(--hope-radii-lg);
  color: rgb(24, 144, 255);
  cursor: pointer;
  font-size: 20px;
}
.menu {
  position: fixed;
  right: 5px;
  top: 150px;
}
.right-icon {
  position: fixed;
  right: 5px;
  top: 190px;
}
.right-menu {
  top: 5px;
  right: 4px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
}
